
<div class="contact-container">
    <h1>CONTACT ME</h1>
    <form class="contact-form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fullname"></label>
            <input type="fullname" class="form-control" id="fullname" placeholder="Enter your full name*">
          </div>
          <div class="form-group col-md-6">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email address*">
          </div>
        </div>
        
        <div class="input-group">
            <textarea class="input-group-textarea" placeholder="Your Message*"></textarea>
        </div>
        <button type="submit" class="btn2 btn-primary">Send Message</button>
      </form>
      <div class="contact-contacts">
        <table class="contact-contacts-table">
            <tr>
                <td><img src="../../../assets/img/iconmonstr-email-4-240.png"></td>
                <td class="contact-contacts-table-td">
                    <a href="mailto:tomas.sande@gmail.com">tomas.sande@gmail.com</a>
                </td>
            </tr>
            <tr>
                <td><img src="../../../assets/img/iconmonstr-phone-2-240.png"></td>
                <td class="contact-contacts-table-td">+54 9 (11) 2299-9498 </td>
            </tr>
            <tr>
                <td><img src="../../../assets/img/iconmonstr-location-2-240.png"></td>
                <td class="contact-contacts-table-td">Buenos Aires, Argentina</td>
            </tr>
        </table>
    </div>
</div>