<div class="portfolio-container">
    <div class="portfolio-main">
        <h1>
            <span class="portfolio-main-h1-1">PO</span>RTFOLIO</h1>
        <div class="wrapper">
            <div *ngFor="let project of projects" class="portfolio-project">
                <div class="portfolio-project-image">
                    <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" class="image"/>
                    <div class="middle">
                        <div class="text">
                            <h3>{{project.name}}</h3>
                            <p>{{project.description}} - {{project.year}}</p>
                            <h6>({{project.langs}})</h6>
                            <a href="{{project.link}}">{{project.link}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   


<section class="portfolio-container-upload">
    <div class="portfolio-main-upload">
        <a [routerLink]="['/upload']" [routerLinkActive]="['actived']">
            <button type="submit" class="btn2 btn-primary">Upload Project</button>
        </a>
    </div>
</section>