    <div class="about-photo">
        <img src="./assets/img/profile22.jpg" class="img-fluid" alt="About">
    </div>
    <div class="about-me">
        <h1>
            <span class="about-me-h1-1">AB</span>OUT ME</h1>
            <hr>
        <h2>WEB DEVELOPER</h2>
            <p>
                I'm a simple, enthusiastic and creative person.
                I'm starting my journey in Web Develompent world with knowledge of Javascript, HTML5, CSS3, Angular, NodeJS. And always looking forward
                to learn more!
            </p>
            <table class="about-me-table">
                <tr>
                    <td class="about-me-table-item">Name:</td>
                    <td>Tomas Sande</td>
                    <td class="about-me-table-item">Phone:</td>
                    <td>+54 9 (11) 2299-9498</td>
                </tr>
                <tr>
                    <td class="about-me-table-item">Age:</td>
                    <td>34 years</td>
                    <td class="about-me-table-item">Address:</td>
                    <td>Av. La Plata 1058, 12 G. CABA, ARG.</td>
                </tr>
                <tr>
                    <td class="about-me-table-item">Email:</td>
                    <td class="about-me-table-mail">
                        <a href="mailto:tomas.sande@gmail.com">tomas.sande@gmail.com</a>
                    </td>
                    <td class="about-me-table-item">Hobbies:</td>
                    <td>Football, Music</td>
                </tr>
            </table>
            <a href="https://www.linkedin.com/in/tomassande">
                <button type="submit" class="btn2 btn-primary">My Skills</button>
            </a>
            <a href="https://www.linkedin.com/in/tomassande">
                <button type="submit" class="btn2 btn-primary">Resume</button>
            </a>
           
    </div>

 
