
<div class="about-container">
    <div class="about-photo">
        <img src="../../../assets/img/1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="about-me">
        <h1>WEB DEVELOPER</h1>
        
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <table class="about-me-table">
                <tr>
                    <td class="about-me-table-item">Name:</td>
                    <td>Tomas Sande</td>
                    <td class="about-me-table-item">Phone:</td>
                    <td>+54 9 (11) 2299-9498</td>
                </tr>
                <tr>
                    <td class="about-me-table-item">Age:</td>
                    <td>34 years</td>
                    <td class="about-me-table-item">Address:</td>
                    <td>Av. La Plata 1058, 12 G</td>
                </tr>
                <tr>
                    <td class="about-me-table-item">Email:</td>
                    <td>tomas.sande@gmail.com</td>
                    <td class="about-me-table-item">Hobby:</td>
                    <td>Football, Music</td>
                </tr>
            </table>
            <button type="submit" class="btn2 btn-primary">My Skills</button>
            <button type="submit" class="btn2 btn-primary">Download CV</button>
    </div>
</div>