<div class="container">
    <div class="buttons">
        <ul>
            <li>
                <a [routerLink]="['/home']" [routerLinkActive]="['actived']">
                    <button type="button" class="btn btn-outline-secondary">Home</button>
                </a>
            </li>
            <li>
                <a [routerLink]="['/about']" [routerLinkActive]="['actived']">
                    <button type="button" class="btn btn-outline-secondary">About</button>
                </a>
            </li>
            <li>
                <a [routerLink]="['/portfolio']" [routerLinkActive]="['actived']">
                    <button type="button" class="btn btn-outline-secondary">Portfolio</button>
                </a>
            </li>
            <li>
                <a [routerLink]="['/contact']" [routerLinkActive]="['actived']">
                    <button type="button" class="btn btn-outline-secondary">Contact</button>
                </a>
            </li>
        </ul>
    </div>
    <div class="router" [@animRoutes]="getPage(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    
</div>