<div class="main"> 
    <div class="profile">
        <div class="profile-header-container">   
            <div class="profile-header-img">
                <img class="img-circle" src="./assets/img/profile.jpg" alt="Avatar"/>    
            </div>
        </div>
        <span class="title">
            <h1>Tomas Sande</h1>
            <h4>Web Developer</h4>
        </span>
        <div class="profile-contacts">
            <table class="profile-contacts-table">
                <tr>
                    <td><img src="./assets/img/iconmonstr-email-4-240.png"></td>
                    <td class="profile-contacts-table-td">
                        <a href="mailto:tomas.sande@gmail.com">tomas.sande@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td><img src="./assets/img/iconmonstr-phone-2-240.png"></td>
                    <td class="profile-contacts-table-td">+54 9 (11) 2299-9498 </td>
                </tr>
                <tr>
                    <td><img src="./assets/img/iconmonstr-location-2-240.png"></td>
                    <td class="profile-contacts-table-td">Buenos Aires, Argentina</td>
                </tr>
            </table>
        </div>
        <div class="rss">
            <ul>
                <li>
                    <a href="http://www.instagram.com/tomas.sande" target="_blank">
                        <img src="./assets/img/iconmonstr-instagram-10-240.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tomas.sande" target="_blank">
                        <img src="./assets/img/iconmonstr-facebook-5-240.png">
                    </a>
                </li>
                <li>
                    <a href="www.twitter.com" target=_blank>
                        <img src="./assets/img/iconmonstr-twitter-5-240.png">
                    </a>
                </li>
                <li>
                    <a href="www.linkedin.com" target="_blank">
                        <img src="./assets/img/iconmonstr-linkedin-5-240.png">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tomassande" target="_blank">
                        <img src="./assets/img/iconmonstr-github-5-240.png">
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
