/* You can add global styles to this file, and also import other style files */

body{
    background: url("../src/assets/img/outer-space.jpeg");
    background-attachment: fixed;
}

.container{
    width: 80%;
}

.router{
    text-align: center;
    position: relative;
}

.main{
    width: 600px;
    height: auto;
    border-style: solid;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: stretch;
}

/* ABOUT*/

.about-container{
    padding-top: 20px;
    width: 100%;
}

.about-me{
    padding: 10px;
    text-align: left;
    width: 50%;
    height: auto;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    float: right;
    padding-bottom: 50px;
    margin-top: 50px;
    border: 3px solid #878787;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    -moz-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
}

.about-me h1{
    text-align: center;
}

.about-me-h1-1{
    color: rgb(90, 115, 192);
}

.about-me p{
    font-size: 18px;
    text-align: justify;
}

.about-me-table{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
}

 .about-me-table-item{
    font-weight: bold;
    text-decoration: underline;
    color: #878787;
 }

.about-photo{
    width: 40%;
    height: 90%;
}

.img-fluid{
    float: left;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 1px solid white; 
    padding: 20px; 
}

.profile{
    width: 500px;
    height: auto;
    border-style: solid;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;

}

.photo{
    border-style: solid;
    border-width: 5px;
    border-radius: 500px;
    width: 200px;
    height: 200px;
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}

.profile-header-container{
    height: auto;
}

.profile-header-img{
    height: auto;
}

.img-circle{
    height: 203px;
    width: 190px;
}

.profile-contacts{
    width: 60%;
    margin-left: 105px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-contacts-table{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-contacts img{
    height: 20px;
    width: 20px;
}

.profile-contacts td{
    padding: 10px;
}

.profile-contacts-table-td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #878787;
    font-size: 16px;
}

.profile-contacts-table-td a{
    text-decoration: none;
    color: #878787;
}

.rss ul{
    padding-inline-start: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rss li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 1s ease-out;
}

.rss li:hover {
    transform: translateY(-0.30rem);
}

.rss img{
    height: 40px;
    width: 40px;
}


.title h1{
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.title h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #878787;
}

/* TOOLBAR*/


.btn{
    outline: 0;
    border: 3px solid #878787;
    border-radius: 20px;
    background-color: transparent;
    color: #878787;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.btn:focus{
    outline:0 !important;
    background-color: rgb(90, 115, 192);
    color: white;
    background-color: rgb(90, 115, 192);
    border: 3px solid rgb(90, 115, 192);
}


.btn:hover{
    background-color: rgb(90, 115, 192);
    border: 3px solid rgb(90, 115, 192);
    transform: translateY(-0.25rem);
    text-decoration: none;
    color: white;
}

.btn2{
    height: 60px;
    width: 160px;
    outline: 0;
    border: 3px solid #878787;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.btn2:focus {
    outline:0 !important;
}


.btn2:hover{
    background-color: rgb(90, 115, 192);
    border: 3px solid rgb(90, 115, 192);
    transform: translateY(-0.25rem);
    text-decoration: none;
}

.btn2:hover > a{
    color: white; 
}

.btn2 a{
    text-decoration: none;
    color: #878787;
}

.btn2 a:focus {
    outline:0 !important;
}

.buttons{
    margin-top: 40px;
    padding-inline-start: 0px;
    text-align: right;
    margin-right: 100px;
}

.buttons ul{
    padding-inline-start: 0px;
}

.buttons li{
    
    transition: all 300ms;
    display: inline-block;
}

/*PORTFOLIO*/

.portfolio-container{
    display: inline-flex;
    padding-top: 20px;
    width: 100%;
}

.portfolio-main{
    padding: 10px;
    height: auto;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #878787;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    -moz-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
}

.project{
    list-style: none;
    display: block;
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap: 30px;
}
  
.portfolio-project-image {
    position: relative;
    height: 470px;
    width: 600px;
}

.portfolio-project-image:hover .image {
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 63%;
    text-align: left;
    left: 0%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
  
.portfolio-project-image:hover .middle {
    opacity: 1;
}
  
.text {
    color: white;
    font-weight: bolder;
    font-size: 16px;
    padding: 16px 32px;
}

.portfolio-container-upload{
    display: none;
    padding-top: 20px;
    width: 100%;
}

.portfolio-main-upload{
    padding: 10px;
    text-align: left;
    width: 100%;
    height: auto;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    border: 3px solid #878787;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    -moz-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
}

.portfolio-container h1{
    text-align: center;
}

.portfolio-main-h1-1{
    color: rgb(90, 115, 192);
}



/*UPLOAD*/

.upload-container{
    padding-top: 20px;
    width: 100%;
}

.upload-main{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    text-align: left;
    width: 70%;
    height: auto;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    border: 3px solid #878787;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    -moz-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
}

.upload-form{
    width: 100%;
}

/*CONTACT*/

.contact-container{
    padding: 10px;
    text-align: left;
    width: 90%;
    height: 590px;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 50px;
    border: 3px solid #878787;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    -moz-box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    box-shadow: 10px 10px 18px -1px rgba(135,135,135,0.66);
    margin-left: auto;
    margin-right: auto;
}

.contact-container h1{
    text-align: center;
}

.contact-container-h1-1{
    color: rgb(90, 115, 192);
}

.form-group {
    width:50%;
    margin-bottom: 25px;
}

.input-group {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 30px;
    margin-bottom: 25px;
}

.input-group-textarea{
    min-height: 300px;
    width: 100%;
    color: #555;
}

.contact-contacts{
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
}

.contact-form{
    float: left;
    width: 50%;
}

.contact-contacts-table{
    width: 70%;
    margin-top: 100px;
    margin-left: 150px;
}

.contact-contacts img{
    height: 30px;
    width: 30px;
}

.contact-contacts td{
    padding: 15px;
}

.contact-contacts-table-td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #878787;
    font-size: 18px;
}

.contact-contacts-table-td a{
    text-decoration: none;
    color: #878787;
}

/*HR*/

hr {
    height: 3px;
    width: 5%;
    background-color: rgb(90, 115, 192);
    border-top: 0px;
}

/*FOOTER*/

.footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
